<div class="col-4">
    <div class="card">
        <h1>{{bou.departure}} >> {{bou.arrive}}</h1>
        <p>Date:{{bou.date}}</p>
        <p>Hours of Departure : {{bou.hours}}</p>
     <p class="price">{{bou.price}}</p>
     <p>Number of passengers</p>
     <div class="passenger">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"  *ngFor="let s of bou.seat">
                <i class="fa fa-fw fa-male"></i>
            </li>
        </ul>
     </div>
    </div>
</div>
