<div class="header">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="assets/img1.jpg" width="500px">
            </div>
            <div class="col-2">
                <h1>"Easy, Cheap, and New Encounter"</h1>
                <p class="title">With Solidària, the Car Ride becomes more fun, the cost of transport cheaper, and you meet new people</p>
                <form>
                    <a (click)="navigateToSuggestride()" class="btn"><i class="fa fa-fw fa-plus"></i> Suggest a Car Ride</a> 
                    <a (click)="navigateToDailyride()" class="btn"><i class="fa fa-fw fa-calendar-o"></i> Choose a Car Ride</a>
                </form>
            </div>
    </div>
    </div>
</div>
<!---------our ride--------->
<div class="Ride">
    <h2 class="title"> Our Ride</h2>
    
    <div class="row">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" *ngFor="let t of test"><app-card [bou]=t ></app-card></li>
        </ul>
        
        </div>
        <a (click)="navigateToDailyride()" class="btn">More</a>
        </div>
    
<!-------- Marques --------->
<div class="marques">
<div class="small-container">
<div class="row">
<div class="col-5">
<img src="assets/OM.jpg" width="100px">
</div>
<div class="col-5">
<img src="assets/uba.jpg" width="100px">
</div>
<div class="col-5">
<img src="assets/paypal.png" width="100px">
</div>
<div class="col-5">
<img src="assets/visa.png" width="100px">
</div>
</div>
</div>
</div>

<!--------footer --------->
<div class="footer">
<div class="container">
<div class="row">
<div class="footer-col-1">
<img src="assets/Solidària.png" width="100px">
<ul>
    <li><a href="#"><i class="fa fa-fw fa-question"></i> How It Works</a></li>
    <li><a href="#"><i class="fa fa-fw fa-phone"></i> Contact-Us</a></li>
</ul>
</div>
<div class="footer-col-2">
<h3>Download our App </h3>
<p> Download the app for more fun on android and Ios.</p>
<div class="app-logo">
    <img src="assets/GPAP.png">
</div>
</div>
<div class="footer-col-3">
<h3>Follow-Us</h3>
<ul>
    <li><i class="fa fa-fw fa-facebook-official"></i>Facebook</li>
    <li><i class="fa fa-fw fa-instagram"></i>Instagram</li>
    <li><i class="fa fa-fw fa-twitter"></i>Twitter</li>
    <li><i class="fa fa-fw fa-whatsapp"></i>Whatsapp</li>
    <li><i class="fa fa-fw fa-linkedin"></i>LinkedIn</li>
</ul>
</div>
</div>
<hr>
<p class="Copyright">Copyright 2020-Tya</p>
</div>
</div>
