<div class="header">

    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="assets/img 2.jpg" width="500px">
            </div>
            <div class="col-2">
                <h1>"Let choose your Ride"</h1>
                <form>
                    <div class="input-container">
                        <i class="fa fa-fw fa-map-marker icon"></i>
                        <select class="input-box" name="address" required>
                            <option  value="Departure">Departure</option> 
                            <option  value="Cocody">Cocody</option>
                            <option  value="Angre">Angré</option>
                            <option  value="Deux-Plateaux">Deux-Plateaux</option>
                            <option  value="Palmeraie">Palmeraie</option>
                            <option  value="Riviera">Riviera</option>
                            <option  value="Faya">Faya</option>
                            <option  value="Bingerville">Bingerville</option>
                            <option  value="Plateau">Plateau</option>
                            <option  value="Abobo">Abobo</option>
                            <option  value="Adjamé">Adjamé</option>
                            <option  value="Yopougon">Yopougon</option>
                            <option  value="Treichville">Treichville</option>
                            <option  value="Macory">Macory</option>
                            <option  value="Koumassi">Koumassi</option>
                            <option  value="Port-Bouet">Port-Bouet</option>
                            <option  value="Bassam">Bassam</option>
                        </select>
                      </div>
                      <div class="input-container">
                        <i class="fa fa-fw fa-flag icon"></i>
                        <select class="input-box" name="address" required>
                            <option  value="arrive">Arrive</option> 
                            <option  value="Cocody">Cocody</option>
                            <option  value="Angre">Angré</option>
                            <option  value="Deux-Plateaux">Deux-Plateaux</option>
                            <option  value="Palmeraie">Palmeraie</option>
                            <option  value="Riviera">Riviera</option>
                            <option  value="Faya">Faya</option>
                            <option  value="Bingerville">Bingerville</option>
                            <option  value="Plateau">Plateau</option>
                            <option  value="Abobo">Abobo</option>
                            <option  value="Adjamé">Adjamé</option>
                            <option  value="Yopougon">Yopougon</option>
                            <option  value="Treichville">Treichville</option>
                            <option  value="Macory">Macory</option>
                            <option  value="Koumassi">Koumassi</option>
                            <option  value="Port-Bouet">Port-Bouet</option>
                            <option  value="Bassam">Bassam</option>
                        </select>
                      </div>
                      <div class="input-container">
                        <i class="fa fa-fw fa-calendar icon"></i>
                        <input class="input-box" type="date" placeholder="Today">
                      </div>
                    <a href="#" class="btn"><i class="fa fa-fw fa-search"></i> Search</a>
                </form>
            </div>
        </div>
    </div>
</div>
    <div class="small-container">
        <h2 class="title"> Our Ride</h2>
        <div class="row">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" *ngFor="let t of test"><app-card [ride]=t ></app-card></li>
            </ul>
            
            </div>
        </div>
   
    <!------------Suggest Ride------------->
    <div class="suggest-ride">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img3.jpg" class="suggest-ride-img" width="500px">
                        </div>
                        <div class="col-2">
                            <h1>Suggest a Ride</h1>
                            <a (click)="navigateToSuggestride()" class="btn"><i class="fa fa-fw fa-plus-circle"></i>Add</a>
                        </div>
                     </div>
        </div>
    </div>
 <!--------footer --------->
<div class="footer">
<div class="container">
    <div class="row">
        <div class="footer-col-1">
            <img src="assets/Solidària.png" width="100px">
            <ul>
                <li><a href="#"><i class="fa fa-fw fa-question"></i> How It Works</a></li>
                <li><a href="#"><i class="fa fa-fw fa-phone"></i> Contact-Us</a></li>
            </ul>
        </div>
        <div class="footer-col-2">
            <h3>Download our App </h3>
            <p> Download the app for more fun on android and Ios.</p>
            <div class="app-logo">
                <img src="assets/GPAP.png">
            </div>
        </div>
        <div class="footer-col-3">
            <h3>Follow-Us</h3>
            <ul>
                <li><i class="fa fa-fw fa-facebook-official"></i>Facebook</li>
                <li><i class="fa fa-fw fa-instagram"></i>Instagram</li>
                <li><i class="fa fa-fw fa-twitter"></i>Twitter</li>
                <li><i class="fa fa-fw fa-whatsapp"></i>Whatsapp</li>
                <li><i class="fa fa-fw fa-linkedin"></i>LinkedIn</li>
</ul>
        </div>
    </div>
    <hr>
    <p class="Copyright">Copyright 2020-Tya</p>
</div>
</div>
