<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
    <div class="navbar">
        <div class="logo">
            <a routerLink="solidaria"><img src="assets/Solidària.png" width="200px"></a>
        <nav>
            <ul>
                <li routerLinkActive="active"><a routerLink="dailyride"><i class="fa fa-fw fa-home"></i> Daily Ride</a></li>
                <li routerLinkActive="active"><a routerLink="suggestride"><i class="fa fa-fw fa-plus-circle"></i> Suggest Car Ride</a></li>
                <li routerLinkActive="active"><a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a></li>
                <li routerLinkActive="active"><a routerLink="login"><i class="fa fa-fw fa-user"></i> Log in</a></li>
                <li routerLinkActive="active"><a routerLink="signup"><i class="fa fa-fw fa-user"></i> Sign in</a></li>

            </ul>
        </nav>
    </div>
</div>

</div>

<div><router-outlet></router-outlet></div>
