


<div class="signup">
    <form class="signup-form">
        <div class="signup-container">
         <h2 class="title">Sign Up</h2>
         <p>Please fill in this form to create an account.</p>
         <hr>
<label for="First Name"><b>First Name</b></label>
<input type="text" placeholder="Enter Your Frst Name" name="first_name" required>
<label for="Last Name"><b>Last Name</b></label>
<input type="text" placeholder="Enter Your Last Name" name="last_name" required>
        
<label for="email"><b>Email</b></label>
<input type="text" placeholder="Enter Email" name="email" required>

<label for="Username"><b>Username</b></label>
<input type="text" placeholder="Enter an Username" name="username" required>

<label for="psw"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="psw" required>

<label for="psw-repeat"><b>Repeat Password</b></label>
<input type="password" placeholder="Repeat Password" name="psw-repeat" required>

<label for="Birthday"><b>Birthday</b></label>
<input type="date" placeholder="Enter Your Birthday" name="birthday" required>

<label for="CNI"><b>CNI</b></label>
<input type="text" placeholder="Enter your CNI immatruculation" name="cni" required>

<label for="Driver"><b>Driver</b></label>
<input type="radio" name="driver" required>

<label for="Passenger"><b>Passenger</b></label>
<input type="radio" name="passenger" required>

<label for="file-select"><b>Upload a picture  of your CNI (both sides)</b></label>
<input type="image" name="upload" required>
<hr>
<p>In case you are a Driver</p>
<hr>

<label for="driver's license number"><b>driver's license number</b></label>
<input type="text" placeholder="Enter your driver's license number" name="driver-license-number" >

<label for="registration number"><b>Registration Number of the Car</b></label>
<input type="text" placeholder=" Enter your registration number of your Car" name="registration-number">

<label for="card number"><b>Card Number, Gray Card</b></label>
<input type="text" placeholder=" Enter the card number, the gray card" name="card-number">

<label for="Car Brand"><b>Car Brand</b></label>
<input type="text" placeholder=" Enter the Car Brand" name="car-brand">

<label for="Commercial Type"><b>Commercial Type</b></label>
<input type="text" placeholder=" Enter the Commercila Type" name="commercial-type">

<label for="Car Color"><b>Car Color</b></label>
<input type="text" placeholder=" Enter the Car Color" name="car-color">

<label for="file-select"><b>Upload a picture  of your driver-license and gray card (both sides)</b></label>
<input type="image" name="upload" >
<hr>

<label>
<input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me</label>

<p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

<div class="clearfix">
<button type="button"  class="Cancelbtn">Cancel</button>
<button type="submit" class="signupbtn">Sign Up</button>
</div>
        </div>

    </form>
</div>
<!--------footer --------->
<div class="footer">
<div class="container">
<div class="row">
    <div class="footer-col-1">
        <img src="assets/Solidària.png" width="100px">
        <ul>
            <li><a href="#"><i class="fa fa-fw fa-question"></i> How It Works</a></li>
            <li><a href="#"><i class="fa fa-fw fa-phone"></i> Contact-Us</a></li>
        </ul>
    </div>
    <div class="footer-col-2">
        <h3>Download our App </h3>
        <p> Download the app for more fun on android and Ios.</p>
        <div class="app-logo">
            <img src="assets/GPAP.png">
        </div>
    </div>
    <div class="footer-col-3">
        <h3>Follow-Us</h3>
        <ul>
            <li><i class="fa fa-fw fa-facebook-official"></i>Facebook</li>
            <li><i class="fa fa-fw fa-instagram"></i>Instagram</li>
            <li><i class="fa fa-fw fa-twitter"></i>Twitter</li>
            <li><i class="fa fa-fw fa-whatsapp"></i>Whatsapp</li>
            <li><i class="fa fa-fw fa-linkedin"></i>LinkedIn</li>
</ul>
    </div>
</div>
<hr>
<p class="Copyright">Copyright 2020-Tya</p>
</div>
</div>