<div class="header">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="assets/img4.jpg" width="500px">
            </div>
            <div class="col-2">
                <h2 class="title">Ride Detail</h2>
                <h1>{{ride.departure}} >> {{ride.arrive}}</h1>
                <p>Date:{{ride.date}}</p>
                <p>Hours of departure:{{ride.hours}}</p>
                <p class="price">{{ride.price}} F CFA</p>
                <p>Number of passengers</p>
                <div class="passenger">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item"  *ngFor="let s of ride.seat">
                            <i class="fa fa-fw fa-male"></i>
                        </li>
                    </ul>
                 </div>
                 <p>How many are you?</p>
                 <form>
                    <label for="Number of passenger"><b>Number of Passenger</b></label>
                    <input type="number" placeholder="Enter how many are you?" name="number of passenger" formControlName="seat" required>
                 </form>
                 <a href="#" class="btn"><i class="fa fa-fw fa-bag"></i> Buy</a>
            </div>
        </div>
    </div>
</div>

<!--------footer --------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <img src="assets/Solidària.png" width="100px">
                <ul>
                    <li><a href="#"><i class="fa fa-fw fa-question"></i> How It Works</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-phone"></i> Contact-Us</a></li>
                </ul>
            </div>
            <div class="footer-col-2">
                <h3>Download our App </h3>
                <p> Download the app for more fun on android and Ios.</p>
                <div class="app-logo">
                    <img src="assets/GPAP.png">
                </div>
            </div>
            <div class="footer-col-3">
                <h3>Follow-Us</h3>
                <ul>
                    <li><i class="fa fa-fw fa-facebook-official"></i>Facebook</li>
                    <li><i class="fa fa-fw fa-instagram"></i>Instagram</li>
                    <li><i class="fa fa-fw fa-twitter"></i>Twitter</li>
                    <li><i class="fa fa-fw fa-whatsapp"></i>Whatsapp</li>
                    <li><i class="fa fa-fw fa-linkedin"></i>LinkedIn</li>
    </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2020-Tya</p>
    </div>
    </div>
