

<div class="suggest">
    <form class="suggest-form">
        <div class="suggest-container">
            <h2 class="title">Suggest a Car Ride</h2>
            <p>Please fill in this form to suggest a Car Ride</p>
            <hr>
           

<label for="Name"><b>Name</b></label>
<input type="text" placeholder="Enter Your Name" name="name" required>
        
<label for="email"><b>Email</b></label>
<input type="text" placeholder="Enter Email" name="email" required>

<label for="Username"><b>Username</b></label>
<input type="text" placeholder="Enter an Username" name="username" required>

<hr>
<p>Suggest the Ride</p>
<hr>

<label for="departure"><b>Departure</b></label>
<select class="input-box" name="address" required>
    <option  value="Departure">Departure</option> 
    <option  value="Cocody">Cocody</option>
    <option  value="Angre">Angré</option>
    <option  value="Deux-Plateaux">Deux-Plateaux</option>
    <option  value="Palmeraie">Palmeraie</option>
    <option  value="Riviera">Riviera</option>
    <option  value="Faya">Faya</option>
    <option  value="Bingerville">Bingerville</option>
    <option  value="Plateau">Plateau</option>
    <option  value="Abobo">Abobo</option>
    <option  value="Adjamé">Adjamé</option>
    <option  value="Yopougon">Yopougon</option>
    <option  value="Treichville">Treichville</option>
    <option  value="Macory">Macory</option>
    <option  value="Koumassi">Koumassi</option>
    <option  value="Port-Bouet">Port-Bouet</option>
    <option  value="Bassam">Bassam</option>
</select>

<label for="arrive"><b>Arrive</b></label>
<select class="input-box" name="address" required>
    <option  value="arrive">Arrive</option> 
    <option  value="Cocody">Cocody</option>
    <option  value="Angre">Angré</option>
    <option  value="Deux-Plateaux">Deux-Plateaux</option>
    <option  value="Palmeraie">Palmeraie</option>
    <option  value="Riviera">Riviera</option>
    <option  value="Faya">Faya</option>
    <option  value="Bingerville">Bingerville</option>
    <option  value="Plateau">Plateau</option>
    <option  value="Abobo">Abobo</option>
    <option  value="Adjamé">Adjamé</option>
    <option  value="Yopougon">Yopougon</option>
    <option  value="Treichville">Treichville</option>
    <option  value="Macory">Macory</option>
    <option  value="Koumassi">Koumassi</option>
    <option  value="Port-Bouet">Port-Bouet</option>
    <option  value="Bassam">Bassam</option>
</select>

<label for="Date of departure"><b>Date of Departure</b></label>
<input type="date" placeholder="Enter the Date of Departure" name="date-of-departure" required>

<label for="Hours of departure"><b>Hours of Departure</b></label>
<input type="text" placeholder="Enter the Hours of Departure" name="hours-of-departure" required>

<label for="Number of passenger"><b>Number of Passenger</b></label>
<input type="number" placeholder="Enter the Number of free seats" name="number of passenger" required>

<div class="clearfix">
<button type="button"  class="Cancelbtn">Cancel</button>
<button type="submit" class="signupbtn">Sign Up</button>
</div>
        </div>

    </form>
</div>

<!--------footer --------->
<div class="footer">
<div class="container">
<div class="row">
    <div class="footer-col-1">
        <img src="assets/Solidària.png" width="100px">
        <ul>
            <li><a href="#"><i class="fa fa-fw fa-question"></i> How It Works</a></li>
            <li><a href="#"><i class="fa fa-fw fa-phone"></i> Contact-Us</a></li>
        </ul>
    </div>
    <div class="footer-col-2">
        <h3>Download our App </h3>
        <p> Download the app for more fun on android and Ios.</p>
        <div class="app-logo">
            <img src="assets/GPAP.png">
        </div>
    </div>
    <div class="footer-col-3">
        <h3>Follow-Us</h3>
        <ul>
            <li><i class="fa fa-fw fa-facebook-official"></i>Facebook</li>
            <li><i class="fa fa-fw fa-instagram"></i>Instagram</li>
            <li><i class="fa fa-fw fa-twitter"></i>Twitter</li>
            <li><i class="fa fa-fw fa-whatsapp"></i>Whatsapp</li>
            <li><i class="fa fa-fw fa-linkedin"></i>LinkedIn</li>
</ul>
    </div>
</div>
<hr>
<p class="Copyright">Copyright 2020-Tya</p>
</div>
</div>
